{% load i18n static %}
<details class="mb-3"{% if country_list|length <= 1 %} open{% endif %}>
<summary class="h6 summary_label p-2 mb-0">{% trans "paths"|capfirst %}</summary>
<nav aria-label="breadcrumb ew-breadcrumb mb-0" style="border-width: 1px 0 1px 0; border-style: solid; border-color: rgba(0, 51, 153, .3)">
{% if country %}
<ol class="breadcrumb ew-breadcrumb">
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><a href="/country/{{ country.id }}/" title="{% trans "view" %} {% trans "country" %}">{{ country.label }}</a></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div style="display:block;"><div class="text-center"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div><div style="margin-top:-0.6rem">{{statement_predicate.label}}</div></div></li>
</ol>
{% endif %}
{% for country in country_list %}
{% for key, value in country_parent_list.items %}
{% if key == country.id %}
{% with parent_list=value %}
<ol class="breadcrumb ew-breadcrumb">
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><a href="/country/{{ country.id }}/" title="{% trans "view" %} {% trans "country" %}">{{ country.label }}</a></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center">
        <div class="d-flex flex-column">
            {% for parent in parent_list %}
            <div class="d-block text-center"><div><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div><div style="margin-top:-0.6rem">{{parent.0.label}}</div></div>
            {% endfor %}
        </div>
    </li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center">
        {% if parent_list|length == 1 %}
        <div><a href="/item/{{parent_list.0.1.id}}/" title="{% trans "view" %} {% trans "item" %}">{{parent_list.0.1.preferred_label.0}}</a></div>
        {% else %}
        <div class="d-flex flex-column" style="margin-top: -0.5rem">
            {% for parent in parent_list %}
            <div class="d-block mt-2"><a href="/item/{{parent.1.id}}/" title="{% trans "view" %} {% trans "item" %}">{{parent.1.preferred_label.0}}</a></div>
            {% endfor %}
        </div>
        {% endif %}
    </li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center">
        <div class="d-block text-center"><div><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div><div style="margin-top:-0.6rem">{{predicate1.label}}</div></div>
    </li>
    {% if item %}
    <li class="h6 breadcrumb-item ew-breadcrumb-item active align-self-center"><div>{% if fun == 'edit' %}{% trans "edit"|capfirst %}: {% endif %}{{item.preferred_label.0}}</div></li>
    {% elif subject %}
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><a href="/item/{{subject.id}}/" title="{% trans "view" %} {% trans "item" %}">{{subject.preferred_label.0}}</a></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center active"><div>{% trans "add"|capfirst %} {% trans "statement" %}</div></li>
    {% endif %}
</ol>
{% endwith %}
{% endif %}
{% empty %}

<ol class="breadcrumb ew-breadcrumb">
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><a href="/country/{{ country.id }}/" title="{% trans "view" %} {% trans "country" %}">{{ country.label }}</a></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div style="display:block;"><div class="text-center"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div><div style="margin-top:-0.6rem">{{predicate.label}}</div></div></li>
    {% if statement_predicate %}
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><a href="/item/{{item.id}}/" title="{% trans "view" %} {% trans "item" %}">{{item.preferred_label.0}}</a></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div style="display:block;"><div class="text-center"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div><div style="margin-top:-0.6rem">{{statement_predicate.label}}</div></div></li>
    {% elif item %}
     <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center active"><div>{% if fun == 'edit' %}{% trans "edit"|capfirst %}: {% endif %}{{item.preferred_label.0}}</div></li>
    {% elif subject %}
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><a href="/item/{{subject.id}}/" title="{% trans "view" %} {% trans "item" %}">{{subject.preferred_label.0}}</a></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center active"><div>{% trans "add"|capfirst %} {% trans "statement" %}</div></li>
    {% endif %}
</ol>
{% endfor %}
{% empty %}
{% if is_country and subject %}
<ol class="breadcrumb ew-breadcrumb">
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><a href="/country/{{country.id}}/" title="{% trans "view" %} {% trans "country" %}">{{country.label}}</a></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center"><div><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div></li>
    <li class="h6 breadcrumb-item ew-breadcrumb-item align-self-center active"><div>{% trans "add"|capfirst %} {% trans "statement" %}</div></li>
</ol>
{% endif %}
{% endfor %}
</nav>
</details>