{% load i18n static %}

{% with wd=o.id props=o.properties %}
{% for p, o, lang, languages, c, r, s, previous_p in props %}
<div class="d-flex justify-content-start mb-3" style="font-size:1rem; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
    {% if p.is_literal %}
        {% if p.is_image %}
            <div class="summary_label p-2 pr-3 label-break-long-words" style="flex-basis: 20%; font-size:90%;">{{ p.label }}{% include "_comments.html" %}</div>
            <div class="p-2" style="flex-basis: 80%; font-size:90%;"><img src="{{ o.url }}" style="width:120px; height: auto; vertical-align: text-top; {% if predicate == 'P163' %}border: 1px solid rgba(0, 51, 153, .2);{% endif %}"></div>
        {% else %}
            <div class="summary_label p-2 pr-3 label-break-long-words" style="flex-basis: 20%; font-size:90%;">{{ p.label }}{% include "_comments.html" %}</div>
            <div class="p-2" style="flex-basis: 80%; font-size:90%;">
                {% if languages %}
                <div class="mb-1">
                    {% if languages|length == 1  %}
                        <span class="pt-0 pb-0 pl-1 pr-1" style="border-width: 1px; border-style: solid; border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195))">{{ languages.0 }}</span>
                    {% else %}
                        <select class="sel_lang">{% for l in languages %}<option value='{{wd}}_{{p.id}}_{{ l }}' {% if l == lang %}selected="selected"{% endif %}>{{l }}</option>{% endfor %}</select>
                    {% endif %}
                </div>
                {% endif %}
                {% if p.is_url %}<a href="{{ o }}" target="_blank"><span class="break-long-words">{{ o }}</span></a>{% else %}<div class="txt_content">{{ o|linebreaks }}</div>{% endif %}</div>
        {% endif %}
        {% if r %}
           	{% with o=r %}
            {% include "_props_subtree.html" %}
        	{% endwith %}
        {% endif %}
    {% else %}
        <div class="summary_label p-2 pr-3 label-break-long-words" style="flex-basis: 20%; font-size:90%;">{{ p.label }}{% include "_comments.html" %}</div>
        <div class="p-2" style="flex-basis: 80%;">
            {% with preferred_label=r.preferred_label.0|default:o.preferred_label.0 lang_default=r.preferred_label.1|default:o.preferred_label.1 languages=r.preferred_label.2|default:o.preferred_label.2 %}
            <div class="level_two">
            <div class="h6 mb-3 d-inline-block">
				{% include "_comments.html" %}
                {% if can_edit %}
                <span class="mr-1"><a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}edit/" title="{% trans "edit the properties of this item" %}"><i class="fa fa-pencil" style="font-size:90%" aria-hidden="true"></i></a></span>
                {% endif %}
                <a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}" class="txt_content" title="{% trans "view" %} {% trans "item" %}"><span>{{ preferred_label }}</span></a>
                {% if not r and o.is_wikidata %}
                <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link" style="font-size:90%"></i></a>
                {% endif %}
            </div>
            {% if languages %}
            <div class="ml-2 d-inline-block">
                {% if languages|length == 1 %}
                    <span class="pt-0 pb-0 pl-1 pr-1" style=" border-width: 1px; border-style: solid; border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195))">{{ lang_default }}</span>
                {% else %}
                     <select class="sel_lang">{% for l in languages %}<option value='{% if r %}{{r.id}}{% else %}{{o.id}}{% endif %}_label_{{ l }}' {% if l == lang_default %}selected="selected"{% endif %}>{{l }}</option>{% endfor %}</select>
                {% endif %}
            </div>
            {% endif %}
            {% endwith %}
            {% include "_props_subtree.html" %}
            {% if r %}
               	{% with o=r %}
                {% include "_props_subtree.html" %}
            	{% endwith %}
            {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}

