{% load i18n static %}
{% comment %}
<ul>
{% for p, o, c, r in props %}
  {% if p.is_literal %}
    {% if p.is_image %}
      <li><label>{{ p.label }}</label>:<br>
          <img src="{{ o.url }}" style="width:120px; margin-left:30px"></li>
    {% else %}
      <li><label>{{ p.label }}</label>: {{ o }}</li>
    {% endif %}
  {% else %}
    <li><label>{{ p.label }}</label>:
      <a href="{{ o.url }}">{{ o.preferred_label }}</a>
      {% if o.is_wikidata %}
	    &nbsp; <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link" style="font-size:80%" aria-hidden="true"></i></a>
      {% endif %}
      {% with props=o.properties %}
        {% include "_props_subtree.html" %}
      {% endwith %}
      {% if r %}{# {{ r.label }} #}
        {% with props=r.properties %}
          {% include "_props_subtree.html" %}
        {% endwith %}
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
{% endcomment %}


{% comment %}
{% with props=o.properties %}
<table class=" mb-3 table-bordered" style="font-size:1rem; border-collapse:separate">
<thead></thead>
<tbody>
{% for p, o, c, r in props %}
<tr class="mb-4">
  {% if p.is_literal %}
    {% if p.is_image %}
      <td class="summary_label p-1 pt-2" style="width:10%; font-size:90%;">{{ p.label }}</td><td class="p-2" style="font-size:90%; border-left: none"><img src="{{ o.url }}" style="width:auto; height:60px; vertical-align: text-top;"></td>
    {% else %}
      <td class="summary_label p-1 pt-2" style="width:10%; font-size:90%;">{{ p.label }}</td><td class="p-2"  style="font-size:90%; border-left: none">{{ o }}</td>
    {% endif %}
  {% else %}
    <td class="summary_label p-1 pt-2" style="width:10%; font-size:90%;">{{ p.label }}</td><td class="p-2"  style="font-size:90%; border-left: none"><a href="{{ o.url }}">{{ o.preferred_label }}</a> {% if o.is_wikidata %} <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}
     {% include "_props_subtree.html" %}
      {% if r %}  {# {{ r.label }} #}
        {% include "_props_subtree.html" %}
      {% endif %}

    </td>
  {% endif %}
</tr>

{% endfor %}
</tbody>
</table>
{% endwith %}
{% endcomment %}

{% with props=o.properties %}
{% for p, o, c, r in props %}
<div class="d-flex justify-content-start mb-3" style=" font-size:1rem; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
    {% if p.is_literal %}
        {% if p.is_image %}
            <div class="summary_label p-2 pr-3" style="font-size:90%;">{{ p.label }}</div><div class="p-2" style="font-size:90%;"><img src="{{ o.url }}" style="width:120px; height: auto; vertical-align: text-top;"></div>
        {% else %}
            <div class="summary_label p-2 pr-3" style="font-size:90%;">{{ p.label }}</div><div class="p-2"  style="font-size:90%;">{{ o }}</div>
        {% endif %}
    {% else %}
        <div class="summary_label p-2 pr-3" style="font-size:90%;">{{ p.label }}</div>
        <div class="p-2">
            <div class="mb-3 font-size:90%"><a href="{{ o.url }}">{{ o.preferred_label }}</a> {% if o.is_wikidata %} <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}</div>
            {% include "_props_subtree.html" %}
            {% if r %} {# {{ r.label }} #}
                {% include "_props_subtree.html" %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}

