{% load i18n static %}

{% with props=o.properties %}
{% for p, o, c, r, previous_p in props %}
<div class="d-flex justify-content-start mb-3" style="font-size:1rem; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
    <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
    {% if p.is_literal %}
        <div class="p-2" style="flex-basis: 85%; font-size:90%;">
	        {% if p.is_image %}
	        	<img src="{{ o.url }}" style="width:120px; height: auto; vertical-align: text-top;">
	        {% else %}
	            <textarea style="width: 100%">{{ o }}</textarea>
	        {% endif %}
            {% if r %} {% comment %} {{ r.label }} {% endcomment %}
               	{% with o=r %}
                {% include "_props_subtree.html" %}
            	{% endwith %}
            {% endif %}
        </div>
    {% else %}
        <div class="p-2" style="flex-basis: 85%;">
            <div class="mb-3" style="font-size:90%;"><span class="mr-1"><a href="{{ o.url }}edit/" title="{% trans "edit" %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>{{ o.preferred_label }}
                {% if o.is_wikidata %}
                <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link"></i></a>
                {% endif %}
            </div>
            {% include "_props_subtree.html" %}
            {% if r %} {% comment %} {{ r.label }} {% endcomment %}
               	{% with o=r %}
                {% include "_props_subtree.html" %}
            	{% endwith %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}

