{% load i18n static %}

<ul>
{% for p, o, c, r in props %}
  {% if p.is_literal %}
    {% if p.is_image %}
      <li><label>{{ p.label }}</label>:<br>
          <a href="{{ p.wd_url }}"><img src="{{ o.url }}" style="width:120px; margin-left:30px"></a></li>
    {% else %}
      <li><label>{{ p.label }}</label>: {{ o }}</li>
    {% endif %}
  {% else %}
    <li><label>{{ p.label }}</label>: {% if o.is_wikidata %}<a href="{{ o.wd_url }}" target="_blank">{{ o.label }}</a>
                                      {% else %}{% endif %}
      {% with props=o.properties %}
        {% include "_props_subtree.html" %}
      {% endwith %}
      {% if r %} {{ r.label }}
        {% with props=r.properties %}
          {% include "_props_subtree.html" %}
        {% endwith %}
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
