{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{{ country.label }}{% endblock head_title %}

{% block body_class %}item_view{% endblock body_class %}

{% block body %}

  {% with source=country.banner_url %}
    {% if source %}<div style="margin-top: 10px;"><img src="{{ source }}" style="max-width:100%; height:auto;"></div>{% endif %}
  {% endwith %}
  <h2><a href="{{ country.wd_url }}" target="_blank">{{ country.label }}</a></h2>

  {% with props=country.properties %}
    {% include "_props_subtree.html" %}
  {% endwith %}

{% endblock body %}
