{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{% if countries_selected|length == 1 %}{{ countries_selected.0.label }}{% else %}{% trans "view countries"|capfirst %}{% endif %}{% endblock head_title %}

{% block body_class %}item_view{% endblock body_class %}

{% block body %}

<div class="table-responsive">
    <table class="table ew-table">
        <tbody>
        <tr>
        {% for country in countries_selected %}
            <td style="width:20%"> 
                {% if countries_selected|length == 1 %}
                {% with source=country.banner_url %}
                {% if source %}<div class="ew-banner"><img src="{{ source }}" class="img-fluid"></div>{% endif %}
                {% endwith %}
                {% endif %}
                <h1 class="ew-title" style="white-space: nowrap;">{{ country.label }} <a href="{{ country.wd_url }}" target="_blank"><i class="fa fa-external-link" style="font-size:55%"></i></a></h1>
                <div class="p-2" style="{% if countries_selected|length == 1 %}max-height: calc(100vh - 27.2rem);{% else %}max-height: calc(100vh - 16.2rem);{% endif %} overflow-y: auto;">
                    {% with props=country.properties %}
                    {% for p, o, c, r in props %}
                        <details open>
                        {% if p.is_literal %}
                            {% if p.is_image %}
                                <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{{ p.label }}</summary>
                                <div class="mb-3"><img src="{{ o.url }}" style="width:120px; height: auto;"></div>
                            {% else %}
                                <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{% trans "title" %}/{% trans "name" %}</summary>
                                <div class="mb-3">{{ o.label }}</div>
                            {% endif %}
                        {% else %}
                            <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{{ p.label }}</summary>
                            <div>
                                <div class="mb-3 p-2"><a href="{{ o.url }}">{{ o.preferred_label }}</a>
                                {% if o.is_wikidata %}
                                <span class="ml-1"><a href="{{ o.wd_url }}" target="_blank" class="ml-1"><i class="fa fa-external-link"></i></a></span>
                                {% endif %}
                                </div>
                                {% include "_props_subtree.html" %}
                                {% if r %} {% comment %}{{ r.label }}{% endcomment %}
                                    {% include "_props_subtree.html" %} {% endif %}
                            </div>
                        {% endif %}
                        </details>
                    {% endfor %}{% endwith %}
                </div>
            </td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
{% endblock body %}
