{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{% if countries_selected|length == 1 %}{{ countries_selected.0.label }}{% else %}{% trans "view countries"|capfirst %}{% endif %}{% endblock head_title %}

{% block body_class %}item_view{% endblock body_class %}

{% block body %} 
{%  with can_edit=request.user.is_euro_member can_view=request.user.is_authenticated %}
<div class="table-responsive">
    <table class="table ew-table mb-0">
        <tbody>
        <tr>
        {% for country in countries_selected %}
            <td> 
                {% if countries_selected|length == 1 %}
                {% with source=country.banner_url %}
                {% if source %}<div class="ew-banner"><img src="{{ source }}" class="img-fluid"></div>{% endif %}
                {% endwith %}
                {% endif %}
                <h1 class="ew-title" style="white-space: nowrap;">{{ country.label }} <a href="{{ country.wd_url }}" target="_blank"><i class="fa fa-external-link" style="font-size:55%"></i></a></h1>
                <div class="p-2" style="{% if countries_selected|length == 1 %}max-height: calc(100vh - 27.2rem);{% else %}max-height: calc(100vh - 16.2rem);{% endif %} overflow-y: auto;">
                {% with props=country.properties %}
                {% if filter_predicate %}
                    {% for p, o, lang, languages, c, r, previous_p in props %}
                    {% if p.id == filter_predicate %}
                    <details open>
                        <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{{ p.label|capfirst }}</summary>
                            <div class="level_one">
                                <div class="h5 mb-3 p-2" style="font-size:1.1rem">
                                {% if can_edit %}<span class="mr-1"><a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}edit/" title="{% trans "edit" %} {% trans "item" %}"><i class="fa fa-pencil" style="font-size:90%" aria-hidden="true"></i></a></span>{% endif %}<a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}" title="{% trans "view" %} {% trans "item" %}">{{ o.preferred_label }}</a>
                                {% if o.is_wikidata %}
                                <a href="{{ o.wd_url }}" target="_blank" class="ml-1"><i class="fa fa-external-link" style="font-size:90%" aria-hidden="true"></i></a>
                                {% endif %}
                                </div>
                                {% include "_props_subtree.html" with predicate=p.id %}
                                {% if r %}
                                {% with o=r %}
                                    {% include "_props_subtree.html" with predicate=p.id %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                    </details>
                    {{ break}}
                    {% endif %}
                    {% endfor %}
                {% else %}
                    {% for p, o, lang, languages, c, r, previous_p in props %}
                    {% if not previous.is_repeatable and previous_p.id != p.id  %}
                    </details>
                    {% endif %}
                   {% if previous_p.id != p.id %}
                    <details>
                   {% endif %}
                        {% if p.is_literal %}
{% comment %} MMR
                            {% if p.is_image %}
                                <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{{ p.label }}</summary>
                                <div class="mb-3"><img src="{{ o.url }}" style="width:120px; height: auto;"></div>
                            {% else %}
                                <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{% trans "title" %}/{% trans "name" %}</summary>
                                <div class="mb-3 break-long-words">{{ o.label }}</div>
                            {% endif %}
{% endcomment %}
                        {% else %}
                            {% if previous_p.id != p.id %}
                            <summary class="h5 p-2 summary_label" style="font-size:1.1rem">{{ p.label|capfirst }}</summary>
                            {% endif %}
                            <div class="level_one">
                                {% with preferred_label=o.preferred_label.0 lang_default=o.preferred_label.1 languages=o.preferred_label.2 %}
                                <div class="h5 mb-3 p-2 d-inline-block" style="font-size:1.1rem">{% if can_edit %}<span class="mr-1"><a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}edit/" title="{% trans "edit" %} {% trans "item" %}"><i class="fa fa-pencil" style="font-size:90%" aria-hidden="true"></i></a></span>{% endif %}<a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}" class="txt_content" title="{% trans "view" %} {% trans "item" %}"><span>{{ preferred_label }}</span></a>
                                {% if o.is_wikidata %}
                                <a href="{{ o.wd_url }}" target="_blank" class="ml-1"><i class="fa fa-external-link" style="font-size:90%" aria-hidden="true"></i></a>
                                {% endif %}
                                </div>
                                {% if languages %}
                                <div class="ml-2 d-inline-block">
                                    {% if languages|length == 1 %}
                                    <span class="pt-0 pb-0 pl-1 pr-1" style=" border-width: 1px; border-style: solid; border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195))">{{ lang_default }}</span>
                                    {% else %}
                                    <select class="sel_lang">{% for l in languages %}<option value='{{o.id}}_label_{{ l }}' {% if l == lang_default %}selected="selected"{% endif %}>{{l }}</option>{% endfor %}</select>{% endif %}
                                </div>
                                {% endif %}
                                {% endwith %}
                                {% include "_props_subtree.html" with predicate=p.id %}
                                {% if r %}
                                {% with o=r %}
                                    {% include "_props_subtree.html" with predicate=p.id %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
                </div>
            </td>
        {% endfor %}
        </tr>
        <tr>
        {% for country in countries_selected %}
            <td>
                <div class="d-flex justify-content-center pt-3">
                    <div><a class="btn btn-light" href="/statement/{{ country.id }}/new/">{% trans "add"|capfirst %} {% trans "statement" %}</a></div>
                </div>
{% comment %} MMR non rimuovere div seguente - escamotage per fissare larghezza minima uguale per le colonne [td] {% endcomment %}                
                <div style="white-space: nowrap; color:#fff">----------------------------------------------------------------</div>
            </td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
{% endwith %}

{% endblock body %}

{% block extra_script_style %}
{% include "_sel_lang_js.html" %}
{% endblock extra_script_style %}