{% extends "eurowiki_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "edit statement"|capfirst %}{% endblock head_title %}

{% block body_class %}statement{% endblock body_class %}
{% block body %}

<h2 class="text-center">{% trans "edit statement"|capfirst %}</h2>

{% if subject %}
<form action="/statement/{{ subject }}/new/" method="post" novalidate>
{% else %}
<form action="/statement/{{ statement }}/edit/" method="post" novalidate>
{% endif %}
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" name="save" value="save">Save</button>
</form>

{% endblock body %}
