{% extends "eurowiki_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "URI statement" %}{% endblock head_title %}

{% block body_class %}uri_statement{% endblock body_class %}
{% block body %}

<h2 class="text-center">{% trans "URI statement" %}</h2>

<form action="/uri_statement/new/" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
	</form>

{% endblock body %}
