{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{% endblock head_title %}

{% block body_class %}item_edit{% endblock body_class %}

{% block body %}
<form action="/item/edit/" method="POST" novalidate="">{% csrf_token %}
<h1 class="ew-title" style="white-space: nowrap;"><a href="/country/{{ country.id }}/">{{ country.label }}</a></h1>
<input type="hidden" name="item" value="{% if item.is_bnode %}{{ item.bnode }}{% else %}{{ item.id }}{% endif %}">
<input type="hidden" name="country" value="{{country.id}}">
<h5 style="padding-left: 0.5em;">{{ predicate.label|capfirst }}</h5>
<input type="hidden" name="predicate" value="{{predicate.id}}">
{% if predicate1 %}
	<h6 style="padding-left: 0.5em;">{{ predicate1.label|capfirst }}</h6>
	<input type="hidden" name="predicate1" value="{{predicate1.id}}">
{% endif %}
<div style="max-height: calc(100vh - 16.2rem); overflow-y:auto">
{% with props=item.edit_properties %}
{% for p, o, lang, languages, c, r, previous_p in props %}
<div class="d-flex justify-content-start mb-3" style="font-size:1rem; border: 0px solid rgba(0, 51, 153, .1); border-radius: 3px">
    {% if p.is_literal %}
        {% if p.is_image %}
        <div class="p-2" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
        <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
        <div class="p-2" style="flex-basis: 85%; font-size:90%;"><img src="{{ o.url }}" style="width:120px; height: auto; vertical-align: text-top;"></div>
        </div>
        {% else %}
            <div class="p-2" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
            <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
            <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }} {% if lang %}[{{ lang }}]{% endif %}{% if o.datatype_id %}&lt;{{ o.datatype_id }}&gt;{% endif %}</div>
            <div class="p-2" style="flex-basis: 85%; font-size:90%;">
            	<textarea name="{{ p.id }}_{{ o.datatype_id }}_{{ lang }}" style="width: 100%">{{ o }}</textarea></div>
            </div>
        {% endif %}
    {% else %}
         <div class="p-2" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
        <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
        <div class="p-2" style="flex-basis: 85%;">
            <div class="mb-3" style="font-size:90%;"><span class="mr-1"><a href="{{ o.url }}edit/?c={{ country.id }}&p={{ predicate.id }}&p1={{ p.id }}" title="{% trans "edit" %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>{{ o.preferred_label }}
                {% if o.is_wikidata %}
                <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link"></i></a>
                {% endif %}
            </div>
            {% include "_props_subtree.html" with par1=country par2=predicate %}
            {% if r %}
               	{% with o=r %}
                {% include "_props_subtree.html" with par1=country par2=predicate %}
				{% endwith %}
            {% endif %}
        </div>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}
</div>

<div class="d-flex justify-content-center mb-3">
	<div><input type="submit" class="btn btn-light" name="save" value="{% trans "save" %}"></div>
	<div class="ml-3"><input type="submit" class="btn btn-light" name="continue" value="{% trans "save & continue" %}"></div>
	<div class="ml-3"><a class="btn btn-light" href="/statement/{{ item.id }}/new/">{% trans "add property" %}</a></div>
</div>
</form>
{% endblock body %}