{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{{ item.preferred_label.0 }}: {% trans "edit" %}{% endblock head_title %}

{% block body_class %}item_edit{% endblock body_class %}

{% block body %}
{% include "_breadcrumb.html" with fun='edit' %}
{% with preferred_label=item.preferred_label.0 %}
<h5 class="p-2 d-inline-block" style="font-size: 1.1rem">
    {% trans "edit"|capfirst %}: <a href="/item/{{item.id}}/" title="{% trans "edit" %} {% trans "item" %}">{{preferred_label}}</a>
    {% if item.is_wikidata %}
        <a href="{{ item.wd_url }}" target="_blank" class="ml-2"><i class="fa fa-external-link" style="font-size:90%" aria-hidden="true"></i></a>
    {% endif %}
</h5>
{% endwith %}

<form action="/item/edit/" method="POST" novalidate="">{% csrf_token %}
<input type="hidden" name="item" value="{% if item.is_bnode %}{{ item.bnode }}{% else %}{{ item.id }}{% endif %}">

<div style="max-height: calc(100vh - 20.2rem); overflow-y:auto">
{% with wd=item.id props=item.edit_properties %}
{% for p, o, lang, languages, c, r, previous_p in props %}
<div class="d-flex justify-content-start mb-3" style="font-size:1rem; border: 0px solid rgba(0, 51, 153, .1); border-radius: 3px">
    {% if p.is_literal %}
        {% if p.is_image %}
        <div class="p-2"><a href="/item/{{ item.id }}/remprop/?c={{ country.id }}&p={{ p.id }}&o={{ o|urlencode }}" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
        <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
        <div class="summary_label p-2 pr-3" style="flex-basis: 20%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
        <div class="p-2" style="flex-basis: 80%; font-size:90%;"><img src="{{ o.url }}" style="width:120px; height: auto; vertical-align: text-top;{% if predicate.id == 'P163' %} border: 1px solid rgba(0, 51, 153, .2);{% endif %}"></div>
        </div>
        {% else %}
            {% if o.datatype_id %}
                <div class="p-2"><a href="/item/{{ item.id }}/remprop/?c={{ country.id }}&p={{ p.id }}&o={{ o|urlencode }}&dt={{ o.datatype_id }}" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
            {% else %}
                <div class="p-2"><a href="/item/{{ item.id }}/remprop/?c={{ country.id }}&p={{ p.id }}&o={{ o|urlencode }}&lang={{ lang }}" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
            {% endif %}
            <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
            <div class="summary_label p-2 pr-3" style="flex-basis: 20%; font-size:90%; word-wrap:break-word;">{{ p.label }}{% if lang != '' %} [{{ lang }}]{% endif %}{% if o.datatype_id == 'integer' %} &lt;integer&gt;{% elif o.datatype_id == 'gYear' %} &lt;yyyy&gt;{% elif o.datatype_id == 'date' %} &lt;yyyy-mm-dd&gt;{% endif %}</div>
            <div class="p-2" style="flex-basis: 80%; font-size:90%;">
                {% if o.datatype_id == 'integer' %}
                    <input type="number" name="{{ p.id }}_{{ o.datatype_id }}_{{ lang }}" value="{{ o }}" style="width:100%">
                {% elif o.datatype_id == 'gYear' %}
                    <input type="number" name="{{ p.id }}_{{ o.datatype_id }}_{{ lang }}" value="{{ o }}" style="width:100%">
                {% elif o.datatype_id == 'date' %}
                    <input type="text"name="{{ p.id }}_{{ o.datatype_id }}_{{ lang }}" value="{{ o }}" style="width:100%">
                {% else %}
                    <textarea name="{{ p.id }}_{{ o.datatype_id }}_{{ lang }}" style="width: 100%" rows="{% if o|length <= 255 %}2{% elif o|length <= 1024 %}4{% else %}8{% endif %}">{{ o }}</textarea>
                {% endif %}
               </div>
            </div>
        {% endif %}
    {% else %}
        <div class="p-2"><a href="/item/{{ item.id }}/remprop/?p={{ p.id }}&o={{ o.id }}" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
        <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
        <div class="summary_label p-2 pr-3" style="flex-basis: 20%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
        <div class="p-2" style="flex-basis: 80%;">
            {% with preferred_label=o.preferred_label.0 lang_default=o.preferred_label.1 languages=o.preferred_label.2 %}
            <div class="h6 mb-3 d-inline-block"><span class="mr-1"><a href="{{ o.url }}edit/" title="{% trans "edit" %} {% trans "item" %}"><i class="fa fa-pencil" aria-hidden="true" style="font-size:90%"></i></a></span><a href="{% if r %}{{ r.url }}{% else %}{{ o.url }}{% endif %}" title="{% trans "view" %} {% trans "item"%}">{{ preferred_label }}</a>
                {% if o.is_wikidata %}
                <a href="{{ o.wd_url }}" target="_blank" class="ml-2"><i class="fa fa-external-link" style="font-size:90%"></i></a>
                {% endif %}
            </div>
            {% if languages %}
            <div class="ml-2 d-inline-block">
                {% if languages|length == 1 %}
                <span class="pt-0 pb-0 pl-1 pr-1" style=" border-width: 1px; border-style: solid; border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195))">{{ lang_default }}</span>
                {% else %}
                <select class="sel_lang">{% for l in languages %}<option value='{{o.id}}_label_{{ l }}' {% if l == lang_default %}selected="selected"{% endif %}>{{l }}</option>{% endfor %}</select>{% endif %}
                </div>
            {% endif %}
            {% endwith %}
            {% include "_props_subtree.html" %}
            {% if r %}
               	{% with o=r %}
                {% include "_props_subtree.html" %}
                {% endwith %}
            {% endif %}
        </div>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}
</div>

<div class="d-flex justify-content-center mb-3">
	<div><input type="submit" class="btn btn-light" name="save" value="{% trans "save"|capfirst %}"></div>
	<div class="ml-3"><input type="submit" class="btn btn-light" name="continue" value="{% trans "save & continue"|capfirst %}"></div>
  <div><a class="btn btn-light" href="/statement/{{ item.id }}/new/?f=edit">{% trans "add"|capfirst %} {% trans "statement" %}</a></div>
</div>
</form>
{% endblock body %}

{% block extra_script_style %}
{% include "_sel_lang_js.html" %}
{% endblock extra_script_style %}