{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{% endblock head_title %}

{% block body_class %}item_edit{% endblock body_class %}

{% block body %}
<h1 class="ew-title" style="white-space: nowrap;">{{ item.preferred_label }}
	{% if item.is_wikidata %}
    <a href="{{ item.wd_url }}" target="_blank"><i class="fa fa-external-link" style="font-size:55%" aria-hidden="true"></i></a>
	{% endif %}
</h1>
<div style="max-height: calc(100vh - 16.2rem); overflow-y:auto">
{% with props=item.properties %}
{% for p, o, lang, c, r, previous_p in props %}
<div class="d-flex justify-content-start mb-3" style="font-size:1rem; border: 0px solid rgba(0, 51, 153, .1); border-radius: 3px">
    {% if p.is_literal %}
        {% if p.is_image %}
        <div class="p-2" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
        <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
        <div class="p-2" style="flex-basis: 85%; font-size:90%;"><img src="{{ o.url }}" style="width:120px; height: auto; vertical-align: text-top;"></div>
        </div>
        {% else %}
            <div class="p-2" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
            <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
            <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }} {% if lang %}[{{ lang }}]{% endif %}</div>
            <div class="p-2" style="flex-basis: 85%; font-size:90%;"><textarea style="width: 100%">{{ o }}</textarea></div>
            </div>
        {% endif %}
    {% else %}
         <div class="p-2" style="color: red;"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="d-flex justify-content" style="width: 100%; border: 1px solid rgba(0, 51, 153, .1); border-radius: 3px">
        <div class="summary_label p-2 pr-3" style="flex-basis: 15%; font-size:90%; word-wrap:break-word;">{{ p.label }}</div>
        <div class="p-2" style="flex-basis: 85%;">
            <div class="mb-3" style="font-size:90%;"><span class="mr-1"><a href="{{ o.url }}edit/" title="{% trans "edit" %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>{{ o.preferred_label }}
                {% if o.is_wikidata %}
                <a href="{{ o.wd_url }}" target="_blank"><i class="fa fa-external-link"></i></a>
                {% endif %}
            </div>
            {% include "_props_subtree_edit.html" %}
            {% if r %}
               	{% with o=r %}
                {% include "_props_subtree_edit.html" %}
				{% endwith %}
            {% endif %}
        </div>
        </div>
    {% endif %}
</div>
{% endfor %}{% endwith %}

</div>
<div class="d-flex justify-content-center mb-3">
<div><button class="btn btn-light">{% trans "save" %}</button></div><div class="ml-3"><button class="btn btn-light">{% trans "add property" %}</button></div>
</div>
{% endblock body %}