{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Statements" %}{% endblock head_title %}

{% block body_class %}statements{% endblock body_class %}
{% block body %}
    <h2 class="text-center">{% trans "Statements" %}</h2>
    <div class="table-responsive">
    <table class="table  table-striped">
    <thead>
    	<tr><th>graph</th><th>subject</th><th>predicate</th><th>object</th></tr>
    </thead>
    <tbody>
		{% for dict in statement_dicts %}
    	<tr>
    		<td>{{ dict.graph}}</td>
    		<td>{{ dict.subject}}</td>
    		<td>{{ dict.predicate}}</td>
    		<td>{{ dict.object}}</td>
    	</tr>
    	{% endfor %}
    </tbody>
    </table>
    </div>
{% endblock body %}
