{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Namespaces" %}{% endblock head_title %}

{% block body_class %}namespaces{% endblock body_class %}
{% block body %}
    <h2 class="text-center">{% trans "Namespaces" %}</h2>
    <table class="table table-responsive table-striped">
    <thead>
    	<tr><th>store</th><th>prefix</th><th>URI</th></tr>
    </thead>
    <tbody>
		{% for namespace in namespaces %}
    	<tr>
    		<td>{{ namespace.store}}</td>
    		<td>{{ namespace.prefix}}</td>
    		<td>{{ namespace.uri}}</td>
    	</tr>
    	{% endfor %}
    </tbody>
    </table>

{% endblock body %}
