{% extends "eurowiki_base.html" %}
{% load static i18n %}

{% block body %}

{% if query and query_result %}
	<h5 class="text-center">{% trans "running query"|capfirst %} <i>{{ query.title|capfirst }}</i></h5>
	<div style="margin-top: 1em; margin-bottom: 1em;">
	{{ query_result|safe}}
	</div>

{% elif form %}
	{% if query %}
	<h5 class="text-center">{% trans "edit query"|capfirst %} <i>{{ query.title|capfirst }}</i></h5>
	<form action="/query/" method="post" class="form-horizontal">{% csrf_token %}
		{{ form.as_table}}
		<div style="text-align: center; margin-top: 1em; margin-bottom: 1em;">
			<input type="submit" name="save" value="{% trans "save"|capfirst %}"/>
		&nbsp; <input type="submit" name="save_continue" value="{% trans "save & continue"|capfirst %}"/>
		&nbsp; <input type="submit" name="cancel" value="{% trans "cancel"|capfirst %}"/>
		</div>
	</form>

	{% else %}
	<h5 class="text-center">{% trans "define new query"|capfirst %}</h5>
	<form action="/query/" method="post" class="form-horizontal">{% csrf_token %}
		{{ form.as_table}}
		<div style="text-align: center; margin-top: 1em; margin-bottom: 1em;">
			<input type="submit" name="save" value="{% trans "save"|capfirst %}"/>
		&nbsp; <input type="submit" name="save_continue" value="{% trans "save & continue"|capfirst %}"/>
		&nbsp; <input type="submit" name="cancel" value="{% trans "cancel"|capfirst %}"/>
		</div>
	</form>
		</div>
	{% endif %}

{% elif query %}
	<h5 class="text-center">{% trans "definition of query"|capfirst %} <i>{{ query.title|capfirst}}</i></h5>
	<dl>
	<dt>{% trans "description"|capfirst %}</dt> <dd>{{ query.description }}</dd>
	<dt>{% trans "SPARQL text"|capfirst %}</dt> <dd><pre>{{ query.text }}</pre></dd>
	</dl>

{% else %}
	<h5 class="text-center">{% trans "saved query definitions"|capfirst %}</h5>

	{% if queries.count %}
		<ul>
		{% for query in queries %}
			<li><strong>{{ query.title }}</strong>
		         &nbsp; <a href="/query/{{ query.id }}/run/" title="{% trans "execute query" %}"><i class="fa fa-play font07em c-white"></i></a>
		         &nbsp; <a href="/query/{{ query.id }}/" title="{% trans "view definition" %}"><i class="fa fa-eye font07em c-white"></i></a>
		        {% if can_edit %} &nbsp; <a href="/query/{{ query.id }}/edit/" title="{% trans "show edit view" %}"><i class="fa fa-edit font07em c-white"></i></a>{% endif %}
		        {% if can_delete %} &nbsp; <a href="/query/{{ query.id }}/delete/" title="{% trans "delete query definition" %}"><i class="fa fa-times-circle font07em" aria-hidden="true" style="color: red;"></i></a>{% endif %}
				<br>{{ query.description }}</li>
		{% endfor %}
		</ul>

	{% else %}
		<div>{% trans "No query defined yet" %}</div>

	<h5 class="text-center">{% trans "add query definition"|capfirst %}</h5>
	<form action="" method="post" class="form-horizontal">{% csrf_token %}
		<input type="submit" name="new_query" value="{% trans "add"|capfirst %}"/>
	</form>

	{% endif %}

{% endif %}
{% if not queries.count %}
	<div><a href="/query/">{% trans "list all saved queries"|capfirst %}</a></div>
{% endif %}

{% endblock body %}
