{% extends "eurowiki_base.html" %}
{% load static i18n %}
{% load comments %}

{% block head_title %}{{item.label}}{% endblock head_title %}
{% block extra_style_head %}
<style>
blockquote {
    border-bottom: 1px solid rgba(0, 51, 153, .3);
    margin-bottom: 0.2rem;
}
blockquote p {
    margin-bottom: 0.3rem;
}
</style>
{% endblock extra_style_head %}

{% block body_class %}comments_view{% endblock body_class %}

{% block body %}
{% with can_edit=request.user.is_euro_member can_view=request.user.is_authenticated %}
{% include "_breadcrumb.html" %}

<dl>
  {% get_comment_count for statement_extension as comment_count %}
 
  <dt class="h5">{% if comment_count %}{{ comment_count }} {% endif %}{% trans "Comments" %}</dt>

  {% if comment_count %}
    {% with comment_list=statement_extension.comments %}
    {% block comments-loop %}
      {% for comment in comment_list %}
        <dd id="comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
            class="comment vcard {% cycle box1 box2 %}{% if comment.user %} authenticated-comment{% if comment.user.is_staff %} staff-comment{% endif %}{% if comment.user.is_superuser %} superuser-comment{% endif %}{% endif %}">
          {% block comment-info %}
            <p style="font-size:90%" class="mb-0"><strong>{{ comment.user.get_display_name }}</strong>
              {% trans "on" context "on date" %}
              <time class="comment-published" datetime="{{ comment.submit_date|date:"c" }}">
              {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
              </time>
            </p>
          {% endblock comment-info %}
          {% block comment-content %}
            <blockquote>{{ comment.comment|linebreaks }}</blockquote>
          {% endblock comment-content %}
        </dd>
      {% endfor %}
    {% endblock comments-loop %}
    {% endwith %}
    {% if not statement_extension.comments_are_open %}
       <dd><p>{% trans "Comments are closed." %}</p></dd>
    {% endif %}
  {% else %}
    {% if statement_extension.comments_are_open %}
      <dd><p>{% trans "No comments yet." %}</p></dd>
    {% else %}
      <dd><p>{% trans "Comments are closed." %}</p></dd>
    {% endif %}
  {% endif %}

  {% block entry-comments-form %}
     {% if can_comment %}
       {% get_comment_form for statement_extension as form %}
       <dd><form action="{% comment_form_target %}" method="POST">{% csrf_token %}
         {{ form.comment }}
         {# comment {{ form.honeypot }} #}
         {{ form.content_type }}
         {{ form.object_pk }}
         {{ form.timestamp }}
         {{ form.security_hash }}
         <input type="hidden" name="next" value="{{ item.url }}">
         <div class="mt-2"><button type="submit" value="id_submit" id="id_submit" class="btn btn-default btn-light">{% trans "Add comment" %}</button></div>
       </form></dd>
     {% endif %}
  {% endblock entry-comments-form %}
</dl>
{% endwith %}
{% endblock body %}
