{% extends "eurowiki_base.html" %}

{% load i18n static %}

{% block head_title %}{{ flatpage.title }}{% endblock head_title %}

{% block languages %}
{% comment %}{% with object=flatpage %}{% include "_hreflang.html" %}{% endwith %}{% endcomment %}
{% endblock languages %}

{% block body_class %} flatpage{% endblock body_class %}

{% block body %}
<article class="p-5">
{% comment %}    <h3 class="text-center">{{ flatpage.title }}</h3> {% endcomment %}
    {{ flatpage.content|safe }}
</article>
{% endblock body %}
